[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sh = "*"
six = "*"

[dev-packages]
"flake8" = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
wheel = "*"
bumpversion = "*"
check-manifest = "*"
pytest-watch = "*"
setuptools = ">=38.6.0"
twine = "*"
keyring = "*"
